.wrapper-cart {
  font-family: Arial, Helvetica, sans-serif;
  width: 330px;
  height: 465px;
  font-size: 20px;
  position: relative;
}

.cart-product-list{
  width: 100%;
  height: 350px;
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.product-list-item{
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 2px solid #EAEAEA;
  /* border-collapse: collapse; */
}

.list-item-image{
  width: 80px;
  height: 80px;
}

.list-item-wrapper-product-info{
  width: 60%;
  height: 100%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product-info-title{
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-info-price{
  width: 100%;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.product-info-price > strong{
  margin-left: auto;
}

.cart-product-subtotal {
  width: 100%;
  height: 60px;
  margin: 0;
  position: absolute;
  bottom: 55px;
  background-color: #E6E6E6;
  color: #434343;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-product-button {
  width: 100%;
  height: 55px;
  font-size: inherit;
  letter-spacing: 0.5px;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
  background-color: #00BC0E;
  color: #fff;
  bottom: 0;
  outline: 0;
  border: 0;
  cursor: pointer;
}